.footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    margin: 40px auto;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container p{
    margin: 0;
}