.header-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    max-width: 80vw;
    margin: 0 auto;
}

.logo {
    text-align: center;
    margin: 0 auto;
}

.avatar {
    border-radius: 33%;
    width: 112px;
    height: auto;
    object-fit: cover;
    margin: 0 auto 2rem;
}

.tagline {
    font-size: 1.75rem;
    margin: 0 auto 2rem;
}

.message {
    text-align: center;

    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    margin: 0 auto;
}

@media (orientation: landscape) {
    .message {
        display: grid;
        grid-template-columns: 360px;
        justify-content: center;
    }
}

.message p {
    font-size: 1.15rem;
    overflow-wrap: normal;
    margin: 0 auto;
}