.dots {
  margin: 0 auto;
}
.dot {
  height: 5px;
  width: 5px;
  background-color: #F8F8FF;
  border-radius: 50%;
  display: inline-block;
}

.main-container {
  width: 400px;
  max-width: 80%;
  margin: 2rem auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
  grid-gap: 10px;

  align-items: center;
}

.main-container a {
  /* border: 1px solid black; */
  border-radius: 20px;
  border: 2px solid hsl(240, 100%, 99%,0.33);
  padding: 5px;

  text-decoration: none;
  font-size: large;
  color: #F8F8FF;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;

  align-items: center;
}

.main-container a:hover {
  border: 2px solid #F8F8FF;
  font-weight: 700;
  background-color: #3f05ec85;
}

.icon img {
  width: 20px;
  margin: 0 10px;
}

.label {
  display: grid;
  justify-content: center;
}

.title {
  margin: 0 auto;
  text-align: center;
}