:root {
    /* colors */
    --light: #F8F8FF;
    --dark-lighter: #7E89A0;
    --dark: #1A1D23;
    --main: #5218FA;
    --main-lighter: #A88CFD;
    --second: #50C878;  
    --second-lighter: #A8E3BC;  
    --danger: #C93E4A;
    --danger-lighter: #E4A0A5;

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-s: 0.875rem;
    --size-m: 1rem;
    --size-l: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}